body {
    background-color: #222222;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 11px;
}

button {
    background-color: transparent;
    border: solid;
    border-color: whitesmoke;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 6px 8px 0 whitesmoke, 0 12px 25px 0 whitesmoke;
}

button:active {
    background-color: transparent;
    box-shadow: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td,
tr {
    text-align: center;
}