h1 {
    color: black;
    font-size: 16px;
}

p {
    font-style: arial;
    font-size: 12px;
    color: black;
}

button {
    font-style: oblique;
    font-size: 18px;
    color: black;
    vertical-align: middle;
    box-align: center;
}